#nav_bg{
	/* border: 1px solid black; */
	height: 80px;
}
#nav{
	/* border: 1px solid red; */
	width: 1100px;
	height: 80px;
	margin: 0 auto;
	position: relative;
}
h1{
	/* border: 1px solid red; */
	line-height: 80px;
	display: inline-block;
	cursor: pointer;  /* 进入时光标呈手型 */
	margin-right: 45px;
	width: 170px;
}
h1 img{
	width:141px;
	height: 34px;
	display: inline-block;
	vertical-align:middle;
}
.nav_content{
	display: inline-block;
}
#nav li{
	/* border: 1px solid red; */
	list-style: none;
	display: inline-block;
	margin-right: 45px;
	/* line-height: 80px; */
	vertical-align: 4px;
	
	/* vertical-align: text-bottom; */
}
#nav .home{
	border-bottom: 2px solid #2C7DF1;
	box-sizing: border-box;
	line-height: 78px;
}
.home_a,.file_a,.word_a,.pesonal_a{
	color: #333333;
	font-size: 1.4em;
	line-height: 78px;
}
.home_a:hover,.file_a:hover,.word_a:hover{
	color: #2C7DF1;
}
.home{
	border-bottom: 2px solid #2C7DF1;
}
#nav li .hot{
	position: absolute;
	top: 18px;
}
#nav .pesonal_a i{
	width: 5px;
	height: 3px;
	background: url(../img/index/downlogo.png);
	display: inline-block;
	position: relative;
	top: -3px;
	left: 6px;
}
.nav_pensonal_extend{
	border: 1px solid #dddddd;
	box-sizing: border-box;
	display: none;
	position: absolute;
	z-index: 22;
	left: 190px;
	top: 81px;
	width: 575px;
	padding: 20px 0 0 50px;
	height: 185px;
	background: #FFFFFF;
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}
.nav_pensonal_extend_1{
	border-right: 1px solid #888888;
	text-align: center;
	width: 200px;
	float: left;
	margin-top: 10px;
}
.nav_pensonal_extend_a{
	/* border: 1px solid red; */
}
.nav_pensonal_extend_b{
	/* border: 1px solid red; */
	margin-top: 30px;
}
.type1{
	font-size: 1.4em;
	color: #333333;
	line-height: 23px;
}
.type2{
	font-size: 1.2em;
	color: #888888;
	line-height: 23px;
}
.imgs{
	background: url(../img/index/new.gif);
	display: inline-block;
	width: 22px;
	height: 12px;
	position: relative;
	left: 8px;
	top: -10px;
}
.nav_pensonal_extend_2{
	/* border: 1px solid red; */
	width: 270px;
	height: 130px;
	float: left;
	margin-left: 40px;
}
.nav_pensonal_extend_2 a{
	font-size: 1.4em;
	line-height: 34px;
	margin-right: 50px;
	white-space: nowrap;
}
.nav_pensonal_extend_2 a:hover{
	color: #2C7DF1;
}
.nav_sign{
	float: right;
	width: 90px;
	height: 32px;
	border: 1px solid #2C7DF1;
	border-radius: 5px;
	text-align: center;
	color: #2C7DF1;
	font-size: 1.2em;
	margin-top: 24px;
	cursor: pointer;
}
.nav_sign *{
	line-height: 30px;
}