*{
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    margin: 0;
    padding: 0;
    color: #606266;
}
.el-col {
    border-radius: 4px
}

.bg-purple-dark {
    background: #99a9bf
}

.bg-purple {
    background: #d3dce6
}

.bg-purple-light {
    background: #e5e9f2
}

.grid-content {
    border-radius: 4px;
    min-height: 36px
}
#blogSubmit{
    text-align: center;
    padding-top: 100px;
}
.nb_person{
    font-size: 18px;
    line-height: 50px;
}